<form [formGroup]="form" novalidate (ngSubmit)="submit()" class="form">
  <h1 class="form_title">Анкета</h1>
  <div class="form_item">
    <label for="surname" class="form_label">Фамилия</label>
    <ngx-dadata
      [config]="config"
      id="fio"
      formControlName="surname"
      (input)="inputOnSurname(this.form.get('surname'))"
      [ngClass]="{
        default: borderInputSurname == null,
        invalid: borderInputSurname == false,
        valid: borderInputSurname == true
      }"
    >
    </ngx-dadata>

    <div
      class="validation"
      *ngIf="
        (this.form.get('surname')?.invalid &&
          this.form.get('surname')?.dirty) ||
        indication === true
      "
    >
      <small *ngIf="this.form.get('surname')?.errors?.required"
        >Поле "Фамилия" должно быть обязательно заполнено.</small
      >

      <small *ngIf="this.form.get('surname')?.errors?.pattern"
        >Поле "Фамилия" должно содержать только русские символы.</small
      >

      <small *ngIf="this.form.get('surname')?.errors?.maxlength"
        >Поле "Фамилия" может содержать не более
        {{ this.form.get("surname")?.errors?.maxlength.requiredLength }}
        символов.<br />
        Сейчас в поле "Фамилия"
        {{ this.form.get("surname")?.errors?.maxlength.actualLength }}
        символов.
      </small>
    </div>
  </div>
  <div class="form_item">
    <label for="name" class="form_label">Имя</label>
    <ngx-dadata
      [config]="config"
      id="fio"
      formControlName="name"
      (input)="inputOnName(this.form.get('name'))"
      [ngClass]="{
        default: borderInputName == null,
        invalid: borderInputName == false,
        valid: borderInputName == true
      }"
    ></ngx-dadata>
    <div
      class="validation"
      *ngIf="
        (this.form.get('name')?.invalid && this.form.get('name')?.dirty) ||
        indication === true
      "
    >
      <small *ngIf="this.form.get('name')?.errors?.required"
        >Поле "Имя" должно быть обязательно заполнено.</small
      >

      <small *ngIf="this.form.get('name')?.errors?.pattern"
        >Поле "Имя" должно содержать только русские символы.</small
      >

      <small *ngIf="this.form.get('name')?.errors?.maxlength"
        >Поле "Имя" может содержать не более
        {{ this.form.get("name")?.errors?.maxlength.requiredLength }}
        символов.<br />
        Сейчас в поле "Имя"
        {{ this.form.get("name")?.errors?.maxlength.actualLength }} символов.
      </small>
    </div>
  </div>
  <div class="form_item">
    <label for="patronymic" class="form_label">Отчество</label>
    <ngx-dadata
      [config]="config"
      id="fio"
      formControlName="patronymic"
      (input)="inputOnPatronymic(this.form.get('patronymic'))"
      [ngClass]="{
        default: borderInputPatronymic == null,
        invalid: borderInputPatronymic == false,
        valid: borderInputPatronymic == true
      }"
    ></ngx-dadata>
    <div
      class="validation"
      *ngIf="
        (this.form.get('patronymic')?.invalid &&
          this.form.get('patronymic')?.dirty) ||
        indication === true
      "
    >
      <small *ngIf="this.form.get('patronymic')?.errors?.pattern"
        >Поле "Отчество" должно содержать только русские символы.</small
      >

      <small *ngIf="this.form.get('patronymic')?.errors?.maxlength"
        >Поле "Отчество" может содержать не более
        {{ this.form.get("patronymic")?.errors?.maxlength.requiredLength }}
        символов.<br />
        Сейчас в поле "Отчество"
        {{ this.form.get("patronymic")?.errors?.maxlength.actualLength }}
        символов.
      </small>
    </div>
  </div>
  <div class="form_item">
    <label for="login" class="form_label">Логин</label>
    <input
      id="login"
      type="text"
      name="login"
      class="form_input"
      formControlName="login"
    />
    <div
      *ngIf="
        (form.get('login')?.invalid && form.get('login')?.dirty) ||
        indication === true
      "
      class="validation"
    >
      <small *ngIf="form.get('login')?.errors?.required"
        >Поле "Логин" обязательно к заполнению.</small
      >

      <small *ngIf="form.get('login')?.errors?.pattern"
        >Поле "Логин" должно быть заполнено только английскими символами.</small
      >

      <small *ngIf="form.get('login')?.errors?.maxlength">
        Длина должна быть не более
        {{ form.get("login")?.errors?.maxlength.requiredLength }}.<br />
        Сейчас в поле "Логин"
        {{ form.get("login")?.errors?.maxlength.actualLength }} сиволов.
      </small>
    </div>
  </div>
  <div class="form_item">
    <label for="phoneNumber" class="form_label">Номер телефона</label>
    <input
      id="phoneNumber"
      type="tel"
      name="phoneNumber"
      class="form_input"
      formControlName="phoneNumber"
      (input)="onInput($event)"
      (keydown)="onPhoneKeyDown($event)"
      (paste)="onPhonePaste($event)"
      placeholder="+7 (___) ___ - __ - __"
    />
    <div
      *ngIf="
        (form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.dirty) ||
        indication === true
      "
      class="validation"
    >
      <small *ngIf="form.get('phoneNumber')?.errors?.required"
        >Поле "Номер телефона" обязательно к заполнению.<br
      /></small>

      <small
        *ngIf="
          form.get('phoneNumber')?.errors?.phonenumber ||
          form.get('phoneNumber')?.errors?.minlength
        "
        >Введите корректный номер телефона.</small
      >
    </div>
  </div>
  <div class="form_item">
    <label for="email" class="form_label">Email</label>
    <input
      id="email"
      type="email"
      name="email"
      class="form_input"
      formControlName="email"
    />
    <div
      *ngIf="
        (form.get('email')?.invalid && form.get('email')?.dirty) ||
        indication === true
      "
      class="validation"
    >
      <small *ngIf="form.get('email')?.errors?.required"
        >Поле "Email" обязательно к заполнению.</small
      >
      <small *ngIf="form.get('email')?.errors?.pattern"
        >Введите корректный email.</small
      >
    </div>
  </div>
  <div class="form_item">
    <label for="region" class="form_label">Регион проживания</label>
    <select id="region" class="region" formControlName="region">
      <option [ngValue]="null" disabled>
        Выберите регион в котором проживате
      </option>
      <option *ngFor="let region of regions" [ngValue]="region.name">
        {{ region.name }}
      </option>
    </select>
  </div>
  <div class="form_item checkbox">
    <input
      id="checkbox"
      type="checkbox"
      name="checkbox"
      class="form_checkbox"
      formControlName="checkbox"
    />
    <label for="checkbox" class="label_checkbox"
      >Я даю согласие на обработку персональных данных в соответствии с
      <a href="#">Условиями.</a></label
    >
  </div>
  <button type="submit" class="btn">Отправить</button>
</form>
