/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  color: #000;
}

.default .autocomplete > input[type="text"] {
  background: #fff;
  border: 1px solid #000;
  font-size: 18px;
  width: 400px;
  height: 40px;
  padding: 0px 10px;
  outline: none;
}

.invalid .autocomplete > input[type="text"] {
  background: #fff;
  border: 1px solid red;
  font-size: 18px;
  width: 400px;
  height: 40px;
  padding: 0px 10px;
  outline: none;
}

.valid .autocomplete > input[type="text"] {
  background: #fff;
  border: 1px solid green;
  font-size: 18px;
  width: 400px;
  height: 40px;
  padding: 0px 10px;
  outline: none;
}
